.container {
  width: 100%;
  margin-bottom: 80px;
}

.emptyBasket {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(16px, 3vw, 32px);
  margin-bottom: clamp(40px, 5vw, 80px);
}

.list {
  flex: 1 1 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 32px;
  background-color: #f1f3f4;
  max-height: 590px;
  border-radius: 12px;
  flex: 0 0 548px;
}

.itemAndFormContainer {
  display: flex;
  gap: 32px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 700;
  line-height: 110%;
}

.itemsScore {
  color: #8b8b8b;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: 500;
  line-height: 130%;
}

.sumContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputsStyle {
  padding: clamp(8px, 2vw, 16px) clamp(16px, 4vw, 32px);
  color: #8b8b8b;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.messageContainer {
  min-height: 24px;
  margin-bottom: 0px;
}

.error {
  color: #ff4d4f;
  display: block;
}

@media (max-width: 1400px) {
  .itemAndFormContainer {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .form {
    max-width: 748px;
    width: 100%;
  }

  .list {
    width: 100%;
  }
}
