.introBlock {
  width: 50%;
  height: 600px;
  background-image: url(/src/assets/images/mainPetsImage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
