.container {
  margin-top: 40px;
}

.list {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  gap: 32px;
  padding: 40px 0 106px 0;
  justify-items: center;
}

@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 20px 0 40px 0;
  }
}
