.filtersContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px 0px;
}

.priceFilters {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  font-weight: 600;
  line-height: 130%;
  font-size: 20px;
}

.priceInputs {
  max-width: 112px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.discountsBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.discountsCheckBox {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.discountsCheckBox:checked {
  background-color: #0d50ff;
  border-color: #0d50ff;
  background-image: url("../../assets/icons/check.svg");
  background-size: 80% 80%;
}

.sortedBox {
  display: flex;
  align-items: center;
  gap: 16px;
}
